@keyframes float {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-4px);
    }

    68% {
        transform: translateY(0);
    }

    80% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes invalid {

    0%,
    100% {
        translate: 0;
    }

    20%,
    60% {
        translate: 8px 0;
    }

    40%,
    80% {
        translate: -8px 0;
    }
}