/* ------------------------------------------------ */
/* ELEMENTS INSERTED IN THE DOM ------------------- */

.menu-mobile {
    --size: 5rem;
    top: 0;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-inline: 0.8rem;
    position: fixed;
    display: flex;
    width: calc(var(--size) * 1.3);
    height: var(--size);
    border-radius: 5px;
    cursor: pointer;
    z-index: var(--z-index-menu-mobile);

}

.menu-mobile>span {
    height: 5px;
    display: inline-block;
    border-radius: 3px;
    background-color: #FFF;
    transition: all .4s ease, opacity .3s linear;
}

.menu-mobile.active>span:nth-child(1),
.menu-mobile.active>span:nth-child(3) {
    position: absolute;
    width: 50%;
    translate: 50% 0;

}

.menu-mobile.active>span:nth-child(1) {
    rotate: 45deg;
}

.menu-mobile.active>span:nth-child(3) {
    rotate: -45deg;
}

.menu-mobile.active>span:nth-child(2) {
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .menu-mobile {
        z-index: var(--z-index-popup);
    }
}