/* Animations ------------------------------------- */

@keyframes float {
    0% {
        transform: translateY(0)
    }

    40% {
        transform: translateY(-10px)
    }

    60% {
        transform: translateY(-4px)
    }

    68% {
        transform: translateY(0)
    }

    80% {
        transform: translateY(-3px)
    }

    100% {
        transform: translateY(0)
    }
}