@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --primary-color: hsl(201, 70%, 43%);
    --secondary-color: hsl(201, 73%, 31%);
    --primary-dark-color: hsl(201, 57%, 25%);
    --secondary-dark-color: hsl(200, 69%, 15%);
    --dark-color: #222;
    --darker-color: #1C1C1C;

    --light-text-color: #FAFAFA;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 1.05rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --big-padding: 2rem;

    --body-font: Poppins, sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1124px;
    margin: 0 auto;
    width: 100%;
}

a {
    display: inline-block;
}

img {
    max-width: 100%;
    vertical-align: middle;
}