@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');


:root {
    color-scheme: dark;

    --z-index-tooltip: 15;
    --z-index-popup: 10;
    --z-index-menu: 5;
    --z-index-loading: 4;

    --primary-color: hsl(201, 70%, 43%);
    --primary-hl-color: hsl(201, 70%, 63%);
    --secondary-color: hsl(201, 73%, 31%);
    --primary-dark-color: hsl(201, 57%, 25%);
    --secondary-dark-color: hsl(200, 69%, 15%);
    --dark-color: #212529;
    --darker-color: #1C1C1C;

    --light-white-color: #FAFAFA;
    --light-grey-color: #BFBFBF;

    --big-font-size: 2rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.55rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 1.3rem;
    --small-font-size: .95rem;
    --smaller-font-size: .85rem;
    --menu-font-size: 1.05rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --big-padding: 2rem;

    --body-font: Quicksand, sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1124px;
    margin: 0 auto;
    width: 100%;
}

a {
    display: inline-block;
}

img {
    max-width: 100%;
    vertical-align: middle;
}