/* ------------------------------------------------ */
@import "reset-n-var.css";
@import "animations.css";
@import "manipulated.css";

.disabled {
    opacity: 0.3;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

::selection {
    background-color: var(--primary-hl-color);
    color: var(--darker-color);
}

::-webkit-scrollbar {
    background-color: var(--darker-color);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-dark-color);
    border-radius: 15px;
}


body {
    font: var(--normal-font-size) var(--body-font);
    background: var(--darker-color);
    min-height: 100vh;
    height: 100%;
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

a {
    text-decoration: none;
}

p {
    line-height: 1.65;
}

i.bx {
    vertical-align: middle;
}

/* 😎 Padronização de todos os links, sendo excluídos links em menus 😎 */

*:not(nav ul li)>a {
    color: var(--primary-hl-color);
    transition-property: box-shadow;
    transition: .3s ease;
    position: relative;
}

*:not(nav ul li)>a:hover {
    box-shadow: inset 0 -.35rem var(--primary-color);
}

*:not(nav ul li)>a:hover:after {
    width: 100%;
}

*:not(nav ul li)>a:after {
    content: "";
    transition: width 1s ease;
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-hl-color);
}


/* ++Header ----------------------------------------- */

.header {
    background-color: var(--dark-color);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
}

.header.sticky .menu ul>li>ul {
    margin-top: 0 !important;
}

.header .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 6.5rem;
    padding: var(--big-padding) 0;
    gap: 1rem;
}

.header .logo img {
    transition: filter .3s;
}

.header .logo:hover {
    animation: float 1.8s ease-in-out infinite alternate;
}

.header .logo span {
    font-weight: 600;
    font-size: 2rem;
    font-size: 1.5rem;
}

.header>.container>.wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.header.clone {
    translate: 0 -100%;
    opacity: 0;
    top: 0;
    width: 100vw;
    position: fixed;
    transition: all .4s ease, opacity .4s linear;
    z-index: var(--z-index-menu);
    visibility: hidden;
}

.header.clone .logo {
    transition: all .3s ease;
    padding: .5rem;
    width: 4rem;
}

.header.clone .menu ul>li>ul {
    margin-top: 0 !important;
}

.header.clone.active {
    translate: 0;
    opacity: 1;
    visibility: visible;
}

/* ++All menus -------------------------------------- */

.menu ul {
    list-style: none;
    text-transform: uppercase;
}

.menu ul a {
    -webkit-user-drag: none;
}

/* ++Menu -------------------------------------- */

.header .menu {
    -webkit-user-select: none;
    user-select: none;
}

.header .menu>ul {
    font-size: var(--menu-font-size);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.header .menu>ul>li>a i {
    margin-right: .3rem;
}

.header .menu>ul>li:hover>a,
.header .menu>ul>li:hover>:after {
    color: var(--primary-color);
    border-top-color: var(--primary-color);
}

.header .menu>ul>li>a {
    transition: color .3s ease-out;
    color: var(--light-white-color);
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 0.5rem;
}

/* ++Submenu -------------------- */


.header .menu ul>li:has(ul)>a:after {
    /* row icon */
    content: "";
    scale: 0.8;
    border-left: .35rem solid transparent;
    border-right: .35rem solid transparent;
    border-top: .5rem solid var(--light-white-color);
    transition: border-top-color .3s ease-out;
    margin-left: .4rem;
}

.header .menu ul>li:hover>ul {
    opacity: 1;
    visibility: visible;
    margin-top: -3.8rem;
}

.header .menu ul>li>ul {
    box-shadow: 2px 0 30px 3px rgba(0, 0, 0, .5);
    transition: opacity, margin-top .4s ease-in-out;
    opacity: 0;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    background-color: white;
    max-width: 25vw;
    min-width: 10vw;
    z-index: 3;
}

.header .menu ul>li>ul li>a {
    display: block;
    transition: padding-left .3s;
    color: var(--primary-dark-color);
    font-size: var(--small-font-size);
    padding: .5rem .85rem;
}

.header .menu ul>li>ul li:not(:last-child) {
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .3);
}

.header .menu ul>li>ul li>a:hover {
    color: var(--primary-color);
    padding-left: 1.25rem;
}

/* To do latter: Make all ul items go blurried when you pass the mouse on a submenu
/* .header .menu > ul > li:hover ~li {
    filter: blur(3px);
} */

/* ++Main ------------------------------------------- */

.sc .content h1:first-child {
    margin-bottom: 0.8rem;
}

.sc h1 {
    text-transform: uppercase;
}

.sc.intro {
    padding: var(--big-padding);
    background: linear-gradient(180deg, rgba(0, 0, 0, .85) 50%, rgba(0, 0, 0, .3)), url(../img/upload/section-2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.sc.intro .mask {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-right-color: var(--primary-color);
    border-right-style: solid;
    border-right-width: 1418px;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 626px;
    border-bottom: 0px solid transparent;
    z-index: 1;
    opacity: 0.5;
}

.sc.intro .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}

.sc.intro .content.left {
    position: relative;
    z-index: 2;
}

.sc.intro .content.left p:not(:last-child) {
    margin-bottom: 1rem;
}

.sc.intro .content.right img {
    border-radius: 50px;
    position: relative;
    z-index: 2;
    filter: drop-shadow(0 0 0.5px #FFF) drop-shadow(0 0 0.5px #FFF) drop-shadow(0 0 0.5px #FFF);
}

/* Form ------------------------------------------- */

.sc.contact {
    background-color: black;
    padding: var(--big-padding);
    position: relative;
}

.sc.contact .overflow-wrap {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.sc.contact .container {
    display: flex;
}

.sc.contact .popup {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: var(--z-index-loading);
    background-color: rgba(0, 0, 0, .85);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;
}

.sc.contact .popup .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-color);
    padding: var(--big-padding);
    border-radius: 30px;
    border: 1.5px solid rgba(255, 255, 255, .15);
    -webkit-user-select: none;
    user-select: none;
}

.sc.contact .content.left {
    flex-basis: 40%;
    z-index: 4;
}

.sc.contact .content.right {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
}

.sc.contact .content.left,
.sc.contact .content.right {
    padding: .5rem;
}

.sc.contact .content.right h1,
.sc.contact .content.right p {
    background-color: var(--dark-color);
    text-align: center;
    border: 1.5px solid rgba(255, 255, 255, .15);
}

.sc.contact .content.right h1 {
    top: 0;
    right: 0;
    width: 50%;
    position: absolute;
    padding: 1rem 2rem;
    border-bottom-left-radius: 15px;
}

.sc.contact .content.right p {
    width: 80%;
    padding: var(--big-padding);
    border-radius: 15px;
}

.contact-form ul {
    list-style: none;
}

.contact-form li:first-child {
    display: none;
}

.contact-form li {
    position: relative;
    z-index: 2;
    display: flex;
}

.contact-form li:not(:last-child) {
    margin-bottom: 1.35rem;
}

.contact-form label {
    transition: all .3s ease;
    font-weight: bold;
    text-align: center;
    width: 40%;
    left: 0;
    position: absolute;
    background-color: var(--primary-hl-color);
    padding: .8rem;
    border-radius: 30px;
    color: var(--secondary-dark-color);
}

.contact-form label.active {
    translate: 151%;
    margin-top: -1rem;
    font-weight: normal;
    border-radius: 30px 30px 0 30px;
    font-size: var(--small-font-size);
    background-color: var(--secondary-dark-color);
    border: 1px solid var(--primary-hl-color);
    color: var(--primary-hl-color);
    padding: .3rem .8rem;
    z-index: 1;
}

.contact-form textarea {
    font-size: 1rem;
}

.contact-form li:not([type="hidden"]) {
    border-radius: 30px;
    box-shadow: 0 1px 150px hsla(201, 70%, 63%, .5);
    position: relative;
}

.contact-form input,
.contact-form textarea {
    border-radius: 30px;
    background-color: var(--dark-color);
    box-shadow: inset 0 1px var(--primary-hl-color);
    font-size: 1.3rem;
    color: var(--light-grey-color);
    border: none;
    appearance: none;
    width: 100%;
    resize: none;
    padding: 0.8rem 1.35rem;
    font-family: var(--body-font);
}

.contact-form input:focus-visible,
.contact-form textarea:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--primary-hl-color)
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    font-size: 1rem;
    font-family: var(--body-font);
    text-align: end;
}

.contact-form input:placeholder-shown,
.contact-form textarea:placeholder-shown {
    text-align: end;
}

.contact-form input.active,
.contact-form textarea.active {
    color: var(--primary-hl-color);
    box-shadow: 0 0 0 2px var(--primary-hl-color);
    border-radius: 30px 0 30px 30px;
}

.contact-form input.invalid,
.contact-form textarea.invalid {
    box-shadow: 0 0 0 2px rgba(255, 0, 0, .5);
    color: red;
    animation: invalid .45s linear;
}

.contact-form input+.log,
.contact-form textarea+.log {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
    line-height: initial;
    z-index: var(--z-index-tooltip);
    width: 200px;
    left: 0;
    top: 0;
    margin-top: 16px;
    position: absolute;
    border-radius: 10px;
    padding: .5rem;
    font-size: var(--smaller-font-size);
    background-color: var(--light-white-color);
    color: var(--darker-color);
}

.contact-form input+.log:after,
.contact-form textarea+.log:after {
    content: "";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--light-white-color);
    position: absolute;
    bottom: 1px;
    left: 0;
    translate: 100% 100%;
    border-top-left-radius: 1px;
}

@keyframes invalid {
    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }
}


.contact-form textarea {
    min-height: 10rem;
}

.contact-form textarea {
    padding-top: 1.3rem;
}

.contact-form input[type="submit"] {
    border-radius: 30px;
    transition: all .2s ease;
    cursor: pointer;
    background: var(--primary-color);
    color: #FFF;
    font-weight: bold;
    box-shadow: 0 5px 0px 3px hsl(201, 70%, 33%), inset 1.5px 1.5px 0 var(--primary-hl-color);
}

.contact-form input[type="submit"]:active {
    scale: 0.93;
    translate: 0 5px;
    box-shadow: 0 0 0px 3px hsl(201, 70%, 33%), inset 1.5px 1.5px 0 var(--primary-hl-color);
}

.sc.contact .wrapper {
    position: absolute;
    z-index: 1;
    width: 60%;
    margin: 0 auto;
    top: -1rem;
    right: 0;
    filter: opacity(.65);
}


/* ++Footer --------------------------------------- */

#footer {
    position: relative;
    background-color: var(--secondary-darker-color);
}

.footer>.container {
    padding: calc(var(--big-padding) + 1rem) .5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer .wrapper:first-child {
    display: flex;
    align-items: center;
}

.footer .wrapper {
    z-index: 1;
    flex-basis: 50%;
}

.footer .wrapper .logo {
    width: 8rem;
}

.footer .wrapper .phrase {
    flex-basis: 50%;
    color: var(--light-grey-color);
    margin-left: 1.25rem;
}

.footer .wrapper .author {
    font-size: var(--small-font-size);
    font-style: italic;
}

.footer .wrapper:last-child {
    display: flex;
    justify-content: space-between;
}

.footer .wrapper ul {
    list-style: none;
    font-size: var(--small-font-size);
}

.footer .wrapper ul li a {
    line-height: 1.5;
}

.footer .links {
    display: flex;
    flex-direction: column;
}

.footer .wrapper:last-child h2 {
    margin-bottom: .5rem;
    padding-bottom: .3rem;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .1);
}


.footer .ribbon {
    font-size: var(--small-font-size);
    padding: 1.5rem 0;
    background-color: var(--dark-color);
}

.footer .ribbon:after {
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0;
    position: absolute;
    filter: opacity(0.3);
    z-index: 0;
    background: linear-gradient(0deg, var(--primary-color), transparent);
}

.footer .ribbon .container {
    display: flex;
    justify-content: space-between;
}

.footer .ribbon .container a {
    z-index: 2;
}

.scroll-top {
    transition: all .3s ease;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 20;
    bottom: 0;
    right: 0;
    margin: 0 2rem 2rem 0;
}

.scroll-top i {
    transition: all .3s ease;
    font-size: var(--h1-font-size);
    cursor: pointer;
    text-shadow: 0 0 1px var(--primary-hl-color);
}

.scroll-top:hover i {
    scale: 1.3;
    color: var(--primary-color);
}

/* ++Media queries ---------------------------------- */

/* Rule to devices <= 1024 pixels wide */
@media screen and (max-width:1024px) {
    .contact-form label {
        font-size: var(--h3-font-size);
        padding: .91rem;
    }
}


/* Rule to devices <= 768 pixels wide */
@media screen and (max-width: 768px) {

    .header .logo {
        width: 10rem;
    }

    .header>.container>.wrapper {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: initial;
        align-items: center;
    }

    .header .menu {
        width: 100%;
    }

    .header .menu>ul {
        display: none;
        flex-direction: column;
    }

    .header .menu>ul>li {
        background-color: rgba(0, 0, 0, .3);
        margin: .15rem 0;
        border-radius: 5px;
    }

    .header .menu>ul>li>a {
        height: auto;
        display: flex;
        justify-content: center;
        padding: .8rem .5rem;
    }


    /* submenu */

    .header .menu ul>li:has(ul) {
        position: relative;
    }

    .header .menu ul>li:hover>ul {
        margin-top: initial;
        visibility: hidden;
        opacity: initial;
    }

    .header .menu ul>li>ul {
        box-shadow: initial;
        z-index: var(--z-index-popup);
        max-width: initial;
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
    }

    .header .menu ul>li>ul li>a {
        padding: 1rem 5rem;
        text-align: center;
    }

    .header .menu ul>li>ul li>a:hover {
        padding-left: 4rem;
    }

    .sc.intro .container {
        grid-template-columns: 1fr;
    }

    .sc.intro .container h1,
    .sc.intro .container p {
        text-align: center;
    }

    .sc.intro .content.right {
        display: none;
    }

    .sc.contact .container {
        flex-direction: column;
    }

    .sc.contact .content.right {
        order: -1;
        margin-bottom: var(--big-padding);
    }

    .sc.contact .content.right h1 {
        position: unset;
        width: 100%;
        right: unset;
        border-radius: 50px;
    }

    .sc.contact .wrapper {
        width: 100%;
    }

    .sc.contact .popup {
        position: fixed;
        z-index: calc(var(--z-index-menu) + 1);
    }

    .footer .container {
        padding: var(--big-padding);
        align-items: stretch;
    }

    .footer .container,
    .footer .container .wrapper {
        flex-direction: column;
    }

    .footer .wrapper:last-child {
        margin-top: 1.3rem;
    }

    .footer .wrapper ul li a {
        display: block;
    }

    .footer .wrapper:last-child h2,
    .footer .wrapper ul li a {
        text-align: center;
    }

    .footer .phrase {
        margin-left: 0 !important;
    }

    .footer .logo {
        display: none;
    }

    .footer .ribbon p {
        text-align: center;
    }

    .footer .ribbon .content:not(:last-child) {
        margin-bottom: .65rem;
    }



}


/* Loading ring ----------------------------------- */

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}