/* ------------------------------------------------ */
@import "reset-n-var.css";
@import "animations.css";

.disabled {
    opacity: 0.3;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

::selection {
    background-color: var(--primary-hl-color);
    color: var(--darker-color);
}

::-webkit-scrollbar {
    background-color: var(--darker-color);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-dark-color);
    border-radius: 15px;
}

/* * {
    transition: none !important;
} */


body {
    font: var(--normal-font-size) var(--body-font);
    background: var(--darker-color);
    min-height: 100vh;
    height: 100%;
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

a {
    text-decoration: none;
}

i.bx {
    vertical-align: middle;
}

/* 😎 Padronização de todos os links, sendo excluídos links em menus 😎 */

*:not(nav ul li)>a {
    color: var(--primary-hl-color);
    transition-property: box-shadow;
    transition: .3s ease;
    position: relative;
}

*:not(nav ul li)>a:hover {
    box-shadow: inset 0 -.35rem var(--primary-color);
}

*:not(nav ul li)>a:hover:after {
    width: 100%;
}

*:not(nav ul li)>a:after {
    content: "";
    transition: width 1s ease;
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-hl-color);
}


.scroll-top {}


/* ++Header ----------------------------------------- */

.header {
    background-color: var(--dark-color);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
}

.header.sticky {
    transition: top .3s ease;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 3;
}

.header.sticky .logo {
    padding: .5rem;
    width: 4rem;
}

.header.sticky .menu ul>li>ul {
    margin-top: 0 !important;
}

.header .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 6.5rem;
    padding: var(--big-padding) 0;
    gap: 1rem;
}

.header .logo img {
    transition: filter .3s;
}

.header .logo:hover {
    animation: float 1.8s ease-in-out infinite alternate;
}

.header .logo span {
    font-weight: 600;
    font-size: 2rem;
}

.header.sticky span {
    font-size: 1.5rem;
}


.header>.container>.wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* ++All menus -------------------------------------- */

.menu ul {
    list-style: none;
    text-transform: uppercase;
}

.menu ul a {
    -webkit-user-drag: none;
}

/* ++Menu -------------------------------------- */

.header .menu {
    -webkit-user-select: none;
    user-select: none;
}

.header .menu>ul {
    font-size: var(--menu-font-size);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.header .menu>ul>li>a i {
    margin-right: .3rem;
}

.header .menu>ul>li:hover>a,
.header .menu>ul>li:hover>:after {
    color: var(--primary-color);
    border-top-color: var(--primary-color);
}

.header .menu>ul>li>a {
    transition: color .3s ease-out;
    color: var(--light-white-color);
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 0.5rem;
}

/* ++Submenu -------------------- */


.header .menu ul>li:has(ul)>a:after {
    /* row icon */
    content: "";
    transform: scale(.8);
    border-left: .35rem solid transparent;
    border-right: .35rem solid transparent;
    border-top: .5rem solid var(--light-white-color);
    transition: border-top-color .3s ease-out;
    margin-left: .4rem;
}

.header .menu ul>li:hover>ul {
    opacity: 1;
    visibility: visible;
    margin-top: -3.8rem;
}

.header .menu ul>li>ul {
    box-shadow: 2px 0 30px 3px rgba(0, 0, 0, .5);
    transition: opacity, margin-top .4s ease-in-out;
    opacity: 0;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    background-color: white;
    max-width: 25vw;
    min-width: 10vw;
    z-index: 3;
}

.header .menu ul>li>ul li>a {
    display: block;
    transition: padding-left .3s;
    color: var(--primary-dark-color);
    font-size: var(--small-font-size);
    padding: .5rem .85rem;
}

.header .menu ul>li>ul li:not(:last-child) {
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .3);
}

.header .menu ul>li>ul li>a:hover {
    color: var(--primary-color);
    padding-left: 1.25rem;
}

/* To do latter: Make all ul items go blurried when you pass the mouse on a submenu
/* .header .menu > ul > li:hover ~li {
    filter: blur(3px);
} */

/* ++Main ------------------------------------------- */

.sc h1 {
    text-transform: uppercase;
}

.sc.intro {
    padding: var(--big-padding);
    background: linear-gradient(180deg, rgba(0, 0, 0, .85) 50%, rgba(0, 0, 0, .3)), url(../img/upload/section-2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.sc.intro .mask {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-right-color: var(--primary-color);
    border-right-style: solid;
    border-right-width: 1418px;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 626px;
    border-bottom: 0px solid transparent;
    z-index: 1;
    opacity: 0.5;
}

.sc.intro .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}

.sc.intro .content.left {
    position: relative;
    z-index: 2;
}

.sc.intro .content.left h1:first-child {
    margin-bottom: 0.5rem;
}

.sc.intro .content.left p:not(:last-child) {
    margin-bottom: 1rem;
}

.sc.intro .content.right img {
    border-radius: 50px;
    position: relative;
    z-index: 2;
    filter: drop-shadow(0 0 0.5px #FFF) drop-shadow(0 0 0.5px #FFF) drop-shadow(0 0 0.5px #FFF);
}



/* ++Footer --------------------------------------- */

#footer {
    background-color: var(--secondary-darker-color);
}

.footer>.container {
    padding: calc(var(--big-padding) + 1rem) .5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer .wrapper:first-child {
    display: flex;
    align-items: center;
}

.footer .wrapper {
    flex-basis: 50%;
}

.footer .wrapper .logo {
    width: 8rem;
}

.footer .wrapper .phrase {
    flex-basis: 50%;
    color: var(--light-grey-color);
    margin-left: 1.25rem;
}

.footer .wrapper .author {
    font-size: var(--small-font-size);
    font-style: italic;
}

.footer .wrapper:last-child {
    display: flex;
    justify-content: space-between;
}

.footer .wrapper ul {
    list-style: none;
    font-size: var(--small-font-size);
}

.footer .wrapper ul li a {
    line-height: 1.5;
}

.footer .links {
    display: flex;
    flex-direction: column;
}

.footer .wrapper:last-child h2 {
    margin-bottom: .5rem;
    padding-bottom: .3rem;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .1);
}


.footer .ribbon {
    font-size: var(--small-font-size);
    padding: 1.5rem 0;
    background-color: var(--dark-color);
}

.footer .ribbon .container {
    display: flex;
    justify-content: space-between;
}

/* ++Media queries ---------------------------------- */

/* Rule to devices <= 1024 pixels wide */
@media screen and (max-width:1024px) {}


/* Rule to devices <= 768 pixels wide */
@media screen and (max-width: 768px) {

    .header .logo {
        width: 10rem;
        margin-bottom: 1.3rem;
    }

    .header>.container>.wrapper {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: initial;
        align-items: center;
    }

    .header .menu {
        width: 100%;
    }

    .header .menu>ul {
        display: none;
        flex-direction: column;
    }

    .header .menu>ul>li {
        background-color: rgba(0, 0, 0, .3);
        margin: .15rem 0;
        border-radius: 5px;
    }

    .header .menu>ul>li>a {
        height: auto;
        display: flex;
        justify-content: center;
        padding: .8rem .5rem;
    }


    /* submenu */

    .header .menu ul>li:has(ul) {
        position: relative;
    }

    .header .menu ul>li:hover>ul {
        margin-top: initial;
        visibility: hidden;
        opacity: initial;
    }

    .header .menu ul>li>ul {
        box-shadow: initial;
        z-index: var(--z-index-popup);
        max-width: initial;
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
    }

    .header .menu ul>li>ul li>a {
        padding: 1rem 5rem;
        text-align: center;
    }

    .header .menu ul>li>ul li>a:hover {
        padding-left: 4rem;
    }

    .sc.intro .container {
        grid-template-columns: 1fr;
    }

    .sc.intro .content.right {
        display: none;
    }

    .footer .container {
        padding: var(--big-padding);
        align-items: stretch;
    }

    .footer .container,
    .footer .container .wrapper {
        flex-direction: column;
    }

    .footer .wrapper:last-child {
        margin-top: 1.3rem;
    }

    .footer .wrapper ul li a {
        display: block;
    }

    .footer .wrapper:last-child h2,
    .footer .wrapper ul li a {
        text-align: center;
    }

    .footer .phrase {
        margin-left: 0 !important;
    }

    .footer .logo {
        display: none;
    }

    .footer .ribbon p {
        text-align: center;
    }

    .footer .ribbon .content:not(:last-child) {
        margin-bottom: .65rem;
    }



}